/* ----- base styles ----*/
body{
font-family: "Roboto", sans-serif;
color:#434455;
background-color: #FFFFFF;
  }
  ul,ol{
list-style-type: none;
  }
  a{
    text-decoration: none;
  }
  
  /* ------ header -------*/
  .logo{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
  }
.header-logo .logo-part{
    color: #2e2f42;
}
.nav-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus {
color: #404bbf;
}
.contacts {
    font-style: normal;
}
.contacts-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* ----- hero section -----*/
.hero-section {
    background-color:#2E2F42;
}
.hero-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07143;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}

.hero-button{
background: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
}

/* ----- benefits section -----*/
.features-item .features-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.features-item .features-context {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/*------ team section ------*/

.team-section {
background-color: #f4f4fd;
}
.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.1;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.team-list .team-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.team-list .team-context {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}
.team-item {
background: #fff;
}

/* ---- portfolio section ----*/
.portfolio-section .portfolio-title {
font-weight: 700;
font-size: 36px;
line-height: 1.1;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.portfolio-list .potfolio-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.portfolio-list .portfolio-context {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* ------ footer section -----*/
.page-footer {
background-color: #2e2f42;
}
.footer-logo .logo-part {
color: #f4f4fd;}
.page-footer .footer-context {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}
